label {
   /* color: white;*/
    font-weight: 100;
}

label[for = cart] {
    font-size: 1.5rem;
}

.jumbotron {
   text-align: center;
   background-color: #EEE;
   color: black;
}

.jumbotron h1 {
   font-size: 4rem;
}

.btn {
   font-size: 2rem;
}

.edit-form {
  margin-top: 150px;
}
